# Blockchain config
VITE_BLOCKCHAIN_ID="0x539"
VITE_BLOCKCHAIN_NAME="LocalNetwork"
VITE_BLOCKCHAIN_CURRENCY_NAME="Ether"
VITE_BLOCKCHAIN_CURRENCY_SYMBOL="ETH"
VITE_BLOCKCHAIN_DECIMALS="18"
VITE_BLOCKCHAIN_RPC_URL="http://127.0.0.1:8545/"
VITE_BLOCKCHAIN_EXPLORER_URL="https://polygonscan.com/"

# Server config
VITE_API_URL=""

# Contract addresses
VITE_BLOCKCHAIN_ADDRESS_TRXTOKEN=""
VITE_BLOCKCHAIN_ADDRESS_FRTTOKEN=""
VITE_BLOCKCHAIN_ADDRESS_WYVERNEXCHANGE=""
VITE_BLOCKCHAIN_ADDRESS_STATICMARKET=""
VITE_BLOCKCHAIN_ADDRESS_WYVERNREGISTRY=""

# Pinata connection
VITE_PINATA_KEY="<your-pinata-key>"
VITE_PINATA_SECRET="<your-pinata-secret>"