.list-nft-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-nft-modal label {
  font-size: 0.8rem;
  margin: 0.6rem 0 0.2rem 0.2rem;
}
.list-nft-modal .input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.list-nft-modal .input-wrapper input {
  flex: 1;
  margin-right: 0.6rem;
}
