.list-nft-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-nft-modal label {
  font-size: 1rem;
  margin: 0.4rem 0 0.2rem;
}
.list-nft-modal .input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.list-nft-modal .input-wrapper input {
  flex: 1;
  margin-right: 0.6rem;

  background: transparent;
  border: 1px solid #005e2a;
  border-radius: 5px;
  color: var(--dark);
  padding: 0.4rem;
}

.list-nft-modal img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 0.4rem;
}

.list-nft-modal .nft-name strong {
  font-size: 1.4rem;
  font-weight: 700;
}

.list-nft-modal p {
  font-size: 1.4rem;
  font-weight: 500;
}

.buy-nft-modal button {
  width: 100%;
  margin-top: 0.8rem;
}
