.connect-wallet {
  width: 10.5rem;
  color: #005e2a;
  background: transparent;
  border: 1px solid #005e2a;
}

.connect-wallet:hover {
  color: #fff;
  border: 1px solid #005e2a;
  background: #005e2a;
}

.disconnect-wallet-container {
  display: flex;
  flex-direction: column;
}

.disconnect-wallet-container p {
  text-align: left;
  width: 100%;

  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.disconnect-wallet-container button {
  margin: 0 auto;
}
