.header-container {
  display: flex;
  border-bottom: 1px solid #fff;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo a {
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
}

.links {
  display: flex;
  width: 25rem;
  justify-content: space-between;
}

.links a {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.links a.active {
  border-bottom: 2px solid #fff;
  color: rgb(204, 19, 19);
}

.connect-wallet {
}
.disconnect-wallet {
}
